@if (predictionFacade.loadingPredictions()) {

  <div class="loading-container">
    <p-progress-spinner />
    <span>Cargando porras...</span>
  </div>

}  @else if (predictionFacade.predictionsError()) {

  <div class="error-container">
    <p>
      {{ predictionFacade.predictionsError() }}
    </p>
  </div>}
  
  @else {

  <main class="home-page">
    <header class="home-header">
      <div>
        <p class="home-kicker">Temporada 2026/27</p>
        <h1>Porras de Los Furbitos</h1>
        <p>
          Consulta las predicciones realizadas por cada participante.
        </p>
      </div>
  
      <p-tag
        [value]="predictions().length + ' participantes'"
        severity="info"
      />
    </header>
  
    <section class="prediction-grid">
      @for (prediction of predictions(); track prediction.user.id) {
        <app-user-prediction-card-component
        [userPrediction]="prediction"
        (openPrediction)="openPrediction(prediction)"/>
      }
    </section>
  </main>
  
  <p-dialog
    header="Porra completa"
    [modal]="true"
    [(visible)]="detailVisible"
    [blockScroll]="true"
    (onHide)="closePrediction()"
    [style]="{ width: 'min(768px, 95vw)' }"
    [contentStyle]="{ padding: '16px' }"
  >
     @if (selectedUserPrediction; as selectedUser) {
      <app-season-ticket-component
        [userPrediction]="selectedUser"
      />
    }
  </p-dialog>
}

